[defaults]

inventory= /home/arafa/ansible/Lab3_role/inventory.yml

remote_user= iti

private_key_file=~/.ssh/id_rsa
 
host_key_checking = False

[privilege_escalation]

become=true

become_ask_pass = true